<div class="relative bg-gradient-to-r overflow-hidden text-white w-full px-20 py-16 h-full from-blue-500 to-blue-800 ">
    <div class="flex justify-between flex-wrap ">
        <div data-aos="zoom-out-down" data-aos-duration="2000" class="flex items-center gap-4">
            <img src="../../assets/img/projects-summary.png" alt="">
            <div class="flex flex-col text-xl">
                <h1 class="text-2xl">{{allProjects}}+</h1>
                <p class="text-sm">Todos los proyectos</p>
            </div>
        </div>
        <div data-aos="zoom-out-down" data-aos-duration="2000" class="flex items-center gap-4">
            <img  src="../../assets/img/counter-icon1.png" alt="">
            <div class="flex flex-col text-xl">
                <h1 class="text-2xl">{{allCustomers}}+</h1>
                <p class="text-sm">Todos los clientes</p>
            </div>
        </div>
        <div data-aos="zoom-out-down" data-aos-duration="2000" class="flex items-center gap-4">
            <img src="../../assets/img/company-icon3.png" alt="">
            <div class="flex flex-col text-xl">
                <h1 class="text-2xl">{{allCompanies}}+</h1>
                <p class="text-sm">Todas las compañías</p>
            </div>
        </div>
        <div data-aos="zoom-out-down" data-aos-duration="2000" class="flex items-center gap-4">
            <img src="../../assets/img/counter-icon4.png" alt="">
            <div class="flex flex-col text-xl">
                <h1 class="text-2xl">{{allSolutions}}+</h1>
                <p class="text-sm w-3/4">Todas las soluciones empresariales</p>
            </div>
        </div>
    </div>
    <img class=" animate-pulse absolute end-0 top-0 opacity-50 " src="../../assets/img/counnter-bg-shape.png" alt="">   
</div>