<article class="bg-black  text-white py-3 px-24 grid grid-cols-2">
    <div class="flex gap-5">
        <div class="flex gap-1 items-center">
           <i class="fa-regular fa-envelope"></i>
           <span>29010201.edu&#64;juntadeandalucia.es</span>
        </div>
        <div class="flex gap-1 items-center">
            <i class="fa-solid fa-phone"></i>
            <span>+34 951 298 425</span>
        </div>
    </div>
    <div class="justify-end gap-4 text-xl flex ">
        <a class="hover:text-blue-500" href="https://www.facebook.com/malagaiesbelen"><i class="fa-brands fa-facebook"></i></a>
        <a class="hover:text-blue-500" href="https://www.instagram.com/malagaiesbelen"><i class="fa-brands fa-instagram"></i></a>
        <a class="hover:text-blue-500" href="https://www.twitter.com/malagaiesbelen"><i class="fa-brands fa-x-twitter"></i></a>
    </div>
</article>
